@model DevTest.ViewModels.MemberViewModel
@{
	ViewData["Title"] = "Home Page";
}

@section scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>>
}
<div class="row">
	<div class="text-center">
		<div class="col-md-3 col-md-offset-4">
			<h1> DevTest</h1>
			<form method="post" novalidate>
				<div asp-validation-summary="ModelOnly"></div>
				<div class="form-group">
					<label asp-for="Email"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email"></span>
				</div>
				<div class="form-group">
					<label asp-for="Password"></label>
					<input type="password" asp-for="Password" class="form-control" />
					<span asp-validation-for="Password"></span>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-success" value="Submit" />
				</div>
			</form>
		</div>
	</div>
</div>